*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

nav{
    height: 50px;
    width: 100%;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 180vh;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

nav > a:hover{
    cursor: pointer;
    color: brown;
    text-decoration: underline;
}

nav > #h1{
    font-weight: 900;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.container > #user {
    background-color: aquamarine;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight:900;
    width: 40vh;
}

.container > #user:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}


.container > #branch {
    background-color: aquamarine;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight:900;
    width: 40vh;
}

.container > #branch:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

