*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

nav{
    height: 50px;
    width: 100%;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 130vh;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

nav > a:hover{
    cursor: pointer;
    color: brown;
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.container > button{
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight:900;
    height: auto;
    width: 80px;
}

.container > button:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
}