*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

.container{
    display: flex;
}

.container > .left-container {
    height: 600px !important;
    width: 100px !important;
    background-color: #0496FF !important;
    display: flex;
    gap: 10px;
}

.container > .left-container > .item > a {
    color:black;
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.container > .left-container > .item > a:hover {
    color:blanchedalmond;
    cursor: pointer;
}

.container > .right-container {
    text-align: right;
}

.container > .right-container > img {
    display: block;
    margin-left: auto;
    width: 210vh;
    height: 600px;
}
